.about {
    margin-top: 150px;
}

.about__col-left,
.about__col-right {
    width: 50%;
}

.about__description {
    margin-top: 15px;
    line-height: 120%;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
}

.statistics__item {
    position: relative;
    width: 25%;
}

.statistics__item-content {
    position: relative;
    padding: 25px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 219px;
}

.statistics__item-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10px;
    border: 1px solid #4A4A4A;
    border-right: 0;
}

.statistics__item:last-child .statistics__item-border {
    border-right: 1px solid #4A4A4A;
    width: auto;
    right: 10px;
}

.statistics__item-border::before,
.statistics__item-border::after {
    content: '';
    position: absolute;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4A4A4A;
}

.statistics__item-border::before {
    top: -6px;
}

.statistics__item-border::after {
    bottom: -6px;
}

.statistics__item:last-child .statistics__item-content::before,
.statistics__item:last-child .statistics__item-content::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4A4A4A;
    right: -5px;
}

.statistics__item:last-child .statistics__item-content::before {
    top: -5px;
}

.statistics__item:last-child .statistics__item-content::after {
    bottom: -5px;
}
