/* Общие классы */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;

    height: 100%;
}

.section {
    margin-top: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    flex: 1 0 auto;
    padding: 0 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200px;
    line-height: 170px;
    letter-spacing: -6px;
    text-transform: uppercase;
    color: #E4DDD4;
    overflow: hidden;
}

.h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.h3 {
    font-size: 22px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -0.22px;
    text-transform: uppercase;
}

.h4 {
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
}

.txt-descriptor {
    line-height: 100%;
    text-transform: uppercase;
}

.txt-descriptor2 {
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}

.txt-number1 {
    font-size: 70px;
    letter-spacing: -1.4px;
    text-transform: uppercase;
}

.txt-menu {
    font-size: 16px;
    line-height: 120%;
}

.number3 {
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 28px;
    padding: 0 12px;
    border: 1px solid #4A4A4A;
    border-radius: 30px;
    color: #E4DDD4;
    text-transform: uppercase;
    transition: border-color .3s;
    cursor: pointer;
}

.button:hover {
    border-color: #E4DDD4;
}
