/* Общие классы */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding-left: 50px;
    padding-right: 50px;

    height: 100%;
}

.section {
    margin-top: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    flex: 1 0 auto;
    padding: 0 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200px;
    line-height: 170px;
    letter-spacing: -6px;
    text-transform: uppercase;
    color: #E4DDD4;
    overflow: hidden;
}

.h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.h3 {
    font-size: 22px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -0.22px;
    text-transform: uppercase;
}

.h4 {
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
}

.txt-descriptor {
    line-height: 100%;
    text-transform: uppercase;
}

.txt-descriptor2 {
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}

.txt-number1 {
    font-size: 70px;
    letter-spacing: -1.4px;
    text-transform: uppercase;
}

.txt-menu {
    font-size: 16px;
    line-height: 120%;
}

.number3 {
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #242320;
    border-radius: 30px;
    color: #242320;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
}

.button:hover {
    background-color: #242320;
    color: #E4DDD4;
}

.button--light {
    border-color: #4A4A4A;
    color: #E4DDD4;
}

.button--light:hover {
    background-color: transparent;
    border-color: #E4DDD4;
}

.button--small {
    height: 28px;
}

.input,
.textarea {
    display: block;
    color: #242320;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #9F9F9F;
    background-color: #E4DDD4;
    width: 100%;
    height: 49px;
    padding-left: 15px;
    padding-right: 15px;
}

.input::placeholder,
.textarea::placeholder {
    color: #4A4A4A;
}

.textarea {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100px;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
}

.checkbox input {
    display: none;
}

.checkbox__check {
    width: 20px;
    height: 20px;
    border: 1px solid #4A4A4A;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: top 1px right -2px;
}

.checkbox__text {
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
}

.checkbox input:checked + .checkbox__check {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.54998 13.0001L0.849976 7.3001L2.27498 5.8751L6.54998 10.1501L15.725 0.975098L17.15 2.4001L6.54998 13.0001Z' fill='%234A4A4A'/%3E%3C/svg%3E%0A");
}
