.portfolio {
    margin-top: 150px;
}

.portfolio__row {
    margin-top: 40px;
}

.portfolio__col-left,
.portfolio__col-right {
    width: 50%;
}

.portfolio__section-title {
    text-transform: uppercase;
}

.portfolio__description {
    margin-top: 15px;
    line-height: 120%;
}

.portfolio__list {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(4, cal(25% - 15px));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.portfolio__item:nth-child(2)  {
    grid-column-start: 3;
    grid-column-end: 5;
}

.portfolio__item:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.portfolio__item:nth-child(6) {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.portfolio__item-button {
    height: 250px;
    width: 250px;
    border: 1px solid #4A4A4A;
    border-radius: 50%;
    color: #E4DDD4;
}

.portfolio__item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.portfolio__item-name {
    margin-top: 5px;
}
