.services {
    margin-top: 150px;
}

.services__row {
    margin-top: 40px;
}

.services__col-left,
.services__col-right {
    width: 50%;
}

.services__section-title {
    text-transform: uppercase;
}

.services__description {
    margin-top: 15px;
    line-height: 120%;
}

.services__list {
    margin-top: 40px;
}

.debil {
    border-bottom: 1px solid #4A4A4A;
}

.services__item:hover  {
    background-color: #E4DDD4;
    color: #242320;
}

.services__item:hover .services__item-img {
    opacity: 1;
    transform: translate(0, 0);
}

.services__item:hover .services__item-content {
    border-color: #E4DDD4;
}

.services__item-content {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #4A4A4A;
    transition: 0.3s
}

.services__item-number,
.services__item-img,
.services__item-name,
.services__item-description {
    width: 25%;
}

.services__item-img {
    position: relative;
    opacity: 0;
    transition: 0.3s;
    transform: translate(0, -50px);
}

.services__item-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

