.spectrum {
    margin-top: 150px;
}

.spectrum__col-left,
.spectrum__col-right {
    width: 50%;
}

.spectrum__section-title {
    color: #868686;
}

.spectrum__col-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-left__client {
    width: 360px;
}

.col-left__client-discription {
    margin-top: 15px;
    color: #868686;
}

.spectrum__col-right p:last-child {
    padding-top: 15px;
}

.spectrum__clients-list {
    margin-top: 40px;
}

.spectrum__description {
    margin-top: 15px;
    color: #ABAAA9;
}

.client {
    position: relative;
    cursor: pointer;
    transition: 0.6s;
    margin-right: calc(-50vw + 750px);
    padding-right: calc(50vw - 750px);
}

.client__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #4A4A4A;
    transition: 0.6s;
}

.client:last-child .client__content {
    border-bottom: 1px solid #4A4A4A;
}

.client__name {
    position: relative;
    color: #868686;
}

.client-decoration {
    border: 1px solid #4A4A4A;
    background: #4A4A4A;
    border-radius: 50%;
    transition: 0.6s;
    height: 15px;
    width: 16px;
}

.client__name::before {
    content: "";
    background-image: url('/apta_ham/img/clientphoto.png');
    position: absolute;
    pointer-events: none;
    opacity: 0;
    height: 250px;
    width: 200px;
    top: -140px;
    left: -142px;
    z-index: -1;
    transition: 0.6s;
    transform: translate(0, -20px);
}

.client:hover {
    color: #242320;
    background-color: #E4DDD4;
    overflow: visible;
}

.client:hover .client__content {
    border-color: #E4DDD4;
}

.client:hover .client-decoration {
    border-color: #242320;
    background-color: #E4DDD4;
}

.client:hover .client__name::before {
    opacity: 1;
    transform: translate(0, 0);
}

.client:hover p {
    z-index: 1;
    color: #242320;
}

