.workflow {
    margin-top: 150px;
    overflow: hidden;
}

.workflow__col-left,
.workflow__col-right {
    width: 50%;
}

.workflow__section-title {
    text-transform: uppercase;
}

.workflow__title {
    color: #E4DDD4;
}

.workflow__col-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.workflow__txt {
    width: 50%;
}

.workflow__description {
    margin-top: 15px;
    color: #ABAAA9;
    line-height: 120%;
}

.workflow__arrows {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.workflow__arrow:disabled path {
    fill: #4A4A4A;
}


.swiper {
    margin-top: 40px;
    overflow: visible;
}

.swiper-slide {

}

.swiper-element {
    padding-left: 15px;
    padding-right: 13px;
    border-left: 1px solid #4A4A4A;
}

.swiper-element p:nth-child(1) {
    color: #868686;
}

.swiper-element p:nth-child(2) {
    color: #E4DDD4;
    padding-top: 144px;
    padding-bottom: 8px;
}

.swiper-element p:nth-child(3) {
    color: #868686;
}

.swiper-wrapper .swiper-slide:last-child {
    border-right: 1px solid #4A4A4A;
}

