.workflow {
    margin-top: 150px;
    overflow: hidden;
}

.workflow__col-left,
.workflow__col-right {
    width: 50%;
}

.workflow__section-title {
    text-transform: uppercase;
}

.workflow__title {
    color: #E4DDD4;
}

.workflow__col-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.workflow__txt {
    width: 50%;
}

.workflow__description {
    margin-top: 15px;
    color: #ABAAA9;
    line-height: 120%;
}

.workflow__arrows {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.workflow__arrow:disabled path {
    fill: #4A4A4A;
}


.workflow__slider {
    margin-top: 40px;
    margin-right: -20px;
    overflow: visible;
}

.workflow__card {
    display: flex;
    flex-direction: column;
    height: 228px;
    padding-left: 15px;
    padding-right: 13px;
    border-left: 1px solid #4A4A4A;
}

.workflow__card-number {
    color: #868686;
}

.workflow__card-title {
    color: #E4DDD4;
    margin-top: auto;
    padding-bottom: 8px;
}

.workflow__card-description {
    color: #868686;
}

.workflow__slider .swiper-slide:last-child .workflow__card {
    border-right: 1px solid #4A4A4A;
}

